.btn {
    width: 105px;
    background: #1E1E1D;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    height: 60px;
    margin-top: 5px;
}

.posGroup {
    position: fixed;
    top: 40%;
    left: 0;
}

.svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.svg2{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}