* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    height: auto;
    background-color: #010101;
    background-image: url(../../image/last-bg.png);
    background-repeat: repeat-y;
    background-position: center center;
    margin-bottom: -100px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    /* display: flex;
    align-items: center;
    text-align: center; */
    color: #BDBDBD;
   
}

.textPosition {
    padding-top: 5%;
    /* display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; */
}

.mainBtn {
    width: 200px;
    height: 50px;
    left: 860px;
    top: 527px;
    background: #FF3232;
    border-radius: 5px;
    color: #fff;
}

.btnPosition {
    margin-top: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.none {
    text-decoration: none;
}